CATALINA_OUT=/data/log/{{ ServerName }}/catalina.out
CATALINA_TMPDIR=/data/log/{{ ServerName }}
export JAVA_HOME="/usr/local/jdk"
export CLASS_PATH="$JAVA_HOME/lib:$JAVA_HOME/jre/lib"
export PATH=".:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin:/bin"
export CATALINA_HOME="/data/webserver/{{ ServerName }}"
export JAVA_HOME CATALINA_HOME
