<?xml version='1.0' encoding='utf-8'?>
<Server port="-1" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>
  <Service name="Catalina">
    <Connector port="{{ port }}" protocol="HTTP/1.1" connectionTimeout="20000" address="{{ ansible_eth0.ipv4.address }}" enableLookups="false" URIEncoding="utf-8" />
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>
      <Host name="localhost"  appBase="/data/www/{{ ServerName }}"
            unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="/data/log/{{ ServerName }}" prefix="tomcat_access_log." suffix=".log" pattern="%{X-Forwarded-For}i %u [%{yyyy-MM-dd HH:mm:ss}t] &quot;%U&quot; %s &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot; &quot;%a&quot; - &quot;%{Soapaction}i&quot; - &quot;%T&quot; " resolveHosts="false" />
      </Host>
    </Engine>
  </Service>
</Server>
