RABBITMQ_NODE_PORT={{ port }}
RABBITMQ_NODE_IP_ADDRESS={{ ansible_eth0.ipv4.address }}
RABBITMQ_MNESIA_BASE=/data/rabbitmq/data
RABBITMQ_LOG_BASE=/data/rabbitmq/log
RABBITMQ_CON_FILE=/usr/local/rabbitmq/etc/rabbitmq/rabbitmq.config
